Repository taiki-kuraishi/nfc-entry-management: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint, isort, black, mypy, pylint

.pre-commit-config.yaml:

#!/usr/bin/env sh
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-merge-conflict
      - id: check-json
      - id: check-added-large-files

  - repo: https://github.com/streetsidesoftware/cspell-cli
    rev: v8.3.0
    hooks:
      - id: cspell
        args: [--config, "./cspell.json"]

  - repo: local
    hooks:
      - id: golangci-lint
        name: golangci-lint
        entry: sh -c 'cd api/ && docker build --target lint -t nfc-entry-management-api-lint:latest -f ./Dockerfile . && docker run --rm nfc-entry-management-api-lint:latest'
        language: system
        types: [go]

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: sh -c 'cd nfc_reader/ && docker build --target isort -t nfc-entry-management-nfc-reader-isort:latest -f ./Dockerfile . && docker run --rm nfc-entry-management-nfc-reader-isort:latest'
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: black
        name: black
        entry: sh -c 'cd nfc_reader/ && docker build --target black -t nfc-entry-management-nfc-reader-black:latest -f ./Dockerfile . && docker run --rm nfc-entry-management-nfc-reader-black:latest'
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: sh -c 'cd nfc_reader/ && docker build --target mypy -t nfc-entry-management-nfc-reader-mypy:latest -f ./Dockerfile . && docker run --rm nfc-entry-management-nfc-reader-mypy:latest'
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: sh -c 'cd nfc_reader/ && docker build --target pylint -t nfc-entry-management-nfc-reader-pylint:latest -f ./Dockerfile . && docker run --rm nfc-entry-management-nfc-reader-pylint:latest'
        language: system
        types: [python]

  - repo: local
    hooks:
      - id: docker-compose-check
        name: Run docker-compose build
        entry: docker-compose build
        language: system
        pass_filenames: false
        stages: [commit]

fix #3 feature_and_enhancement.md
  .github/ISSUE_TEMPLATE/feature_and_enhancement.md
Due: none

fix #3 feature_and_enhancement.md (#6)
  .github/ISSUE_TEMPLATE/feature_and_enhancement.md
Due: none

add LICENSE to ignorePaths
  cspell.json
Due: none

Create Code_quality_and_docker_build.yml #5
  .github/workflows/Code_quality_and_docker_build.yml
Due: none

Enhancement/#5 GitHub actions (#7)
  .github/workflows/Code_quality_and_docker_build.yml
  cspell.json
Due: none

Move .golangci.yml and update Dockerfile accordingly
  api/Dockerfile
  api/src/.golangci.yml
  docker-compose.yml
Due: none

Implement User-related operations in api-server #9
  api/.env.api.example
  api/src/controller/api_controller.go
  api/src/db/db.go
  api/src/main.go
  api/src/model/entry.go
  api/src/repository/user_repository.go
  api/src/router/router.go
  api/src/usecase/user_usecase.go
  cspell.json
Due: golangci-lint

Implement Entry-related operations in api-server #9
  api/src/controller/api_controller.go
  api/src/main.go
  api/src/model/entry.go
  api/src/repository/entry_repository.go
  api/src/repository/user_repository.go
  api/src/usecase/entry_usecase.go
  api/src/usecase/user_usecase.go
  cspell.json
Due: golangci-lint

Add user validator in api-server #9
  api/src/controller/api_controller.go
  api/src/go.mod
  api/src/go.sum
  api/src/main.go
  api/src/usecase/user_usecase.go
  api/src/validator/user_validator.go
  cspell.json
Due: golangci-lint

Add entry validator in api-server #9
  api/.env.api.example
  api/src/main.go
  api/src/model/entry.go
  api/src/model/user.go
  api/src/repository/entry_repository.go
  api/src/repository/user_repository.go
  api/src/usecase/entry_usecase.go
  api/src/validator/entry_validator.go
Due: golangci-lint

Add tests for entry_validator.go in spi-server #9
  api/src/go.mod
  api/src/go.sum
  api/src/validator/entry_validator.go
  api/src/validator/entry_validator_test.go
  cspell.json
Due: golangci-lint

Add tests for user_validator.go in spi-server #9
  api/src/validator/entry_validator_test.go
  api/src/validator/user_validator.go
  api/src/validator/user_validator_test.go
Due: golangci-lint

Refactor validator tests to use interface
  api/src/validator/entry_validator_test.go
  api/src/validator/user_validator.go
  api/src/validator/user_validator_test.go
Due: golangci-lint

Add tests for ewpository in spi-server
  api/src/go.mod
  api/src/go.sum
  api/src/repository/entry_repository_test.go
  api/src/repository/user_repository.go
  api/src/repository/user_repository_test.go
  cspell.json
Due: golangci-lint

Refactor validator tests into subtests in api-server #9
  api/src/validator/entry_validator_test.go
  api/src/validator/user_validator_test.go
Due: golangci-lint

Add tests for ewpository in spi-server #9
  api/src/db/db.go
  api/src/db/db_test.go
  api/src/main.go
  api/src/migrate/migrate.go
  cspell.json
Due: golangci-lint

Refactor names of test functions in api-server repository #9
  api/src/repository/entry_repository_test.go
  api/src/repository/user_repository_test.go
Due: golangci-lint

Add tests for usecase in spi-server #9
  api/src/usecase/entry_usecase_test.go
  api/src/usecase/user_usecase_test.go
Due: golangci-lint

Add tests for controller in spi-server #9
  api/src/controller/api_controller.go
  api/src/controller/api_controller_test.go
  api/src/main.go
  api/src/router/router.go
Due: golangci-lint

Add tests for model in spi-server #9
  api/src/model/entry_test.go
  api/src/model/user_test.go
  cspell.json
Due: golangci-lint

Add tests for migrate in spi-server #9
  api/src/migrate/migrate_test.go
Due: golangci-lint

Add tests for router in spi-server #9
  api/src/router/router_test.go
Due: golangci-lint

Add send_request_to_api function in nfc_reader #9
  api/.env.api.example
  nfc_reader/.env.nfc_reader.example
  nfc_reader/requirements-dev.txt
  nfc_reader/requirements.txt
  nfc_reader/src/main.py
Due: isort, black, mypy, pylint

Add api-server tests to pre-commit and GitHub Actions
  .github/workflows/Code_quality_and_docker_build.yml
  .github/workflows/Run_api_server_tests.yml
  .pre-commit-config.yaml
  api/.env.api.example
  api/Dockerfile
  mysql/.env.mysql.example
Due: none

Add healthcheck dokcer-compose.yml #9
  cspell.json
  docker-compose.yml
Due: none

Feature/#9 devlopment v1.0 (#11)
  .github/workflows/Code_quality_and_docker_build.yml
  .github/workflows/Run_api_server_tests.yml
  .pre-commit-config.yaml
  api/.env.api.example
  api/Dockerfile
  api/src/.golangci.yml
  api/src/controller/api_controller.go
  api/src/controller/api_controller_test.go
  api/src/db/db.go
  api/src/db/db_test.go
  api/src/go.mod
  api/src/go.sum
  api/src/main.go
  api/src/migrate/migrate.go
  api/src/migrate/migrate_test.go
  api/src/model/entry.go
  api/src/model/entry_test.go
  api/src/model/user.go
  api/src/model/user_test.go
  api/src/repository/entry_repository.go
  api/src/repository/entry_repository_test.go
  api/src/repository/user_repository.go
  api/src/repository/user_repository_test.go
  api/src/router/router.go
  api/src/router/router_test.go
  api/src/usecase/entry_usecase.go
  api/src/usecase/entry_usecase_test.go
  api/src/usecase/user_usecase.go
  api/src/usecase/user_usecase_test.go
  api/src/validator/entry_validator.go
  api/src/validator/entry_validator_test.go
  api/src/validator/user_validator.go
  api/src/validator/user_validator_test.go
  cspell.json
  docker-compose.yml
  mysql/.env.mysql.example
  nfc_reader/.env.nfc_reader.example
  nfc_reader/requirements-dev.txt
  nfc_reader/requirements.txt
  nfc_reader/src/main.py
Due: golangci-lint, isort, black, mypy, pylint

Add Taskfile #12
  Taskfile.yml
  cspell.json
  docker-compose.yml
Due: none

Add README #13
  README.md
Due: none

Feature/#12 readme taskfile setup (#13)
  README.md
  Taskfile.yml
  cspell.json
  docker-compose.yml
Due: none

update README #14
  README.md
Due: none

Add send_dummy_req.py for sending dummy requests
  nfc_reader/src/send_dummy_req.py
Due: isort, black, mypy, pylint

Configure docker-compose to auto-start application with main.go
  Taskfile.yml
  docker-compose.yml
Due: none

disable go-test
  .pre-commit-config.yaml
Due: none

disable time validator
  api/src/validator/entry_validator.go
Due: golangci-lint

Add more log info #14
  api/src/controller/api_controller.go
  api/src/usecase/entry_usecase.go
  api/src/usecase/user_usecase.go
Due: golangci-lint

Change docker-compose commands from up/down to start/stop
  Taskfile.yml
Due: none
